* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(image/y3.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.navbar-nav a:hover {
    border-bottom: 2px solid white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;

}

@media screen and (max-width:500px) {
    .btn1{
        margin-top: 10px;
    }
    .footer{
        display: none;
    }
    .contact{
        position: absolute;
    
    }
}